Package: bigsudo
Version: 7.0.0-1big2
Depends:
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:12
Description: Scriipt to solve some problems with sudo in KDE

